# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment files
.env
.env.*

# Logs
*.log
logs/

# Temporary files
*.tmp
*.swp
*.bak

# Docker volumes
docker/volumes/

# Terraform 
.terraform/

# Local notes
notes.md
